body {
	display: flex;
	min-height: 100vh;
	flex-direction: column;
}

main {
	flex: 1 0 auto;
}

footer.page-footer {
	margin: 0;
	padding: 0;
}

.logo-header {
	border: 0;
	padding-top: 10px;
}

.grid-item { 
	width: 325px;
}

.hovercard {
	display: none;
}

#main_content {
	/*margin-top: 20px; */
}

#drop-search {
	display:  none;
	padding-left: 20px;
	padding-right: 20px;
/*	margin-left: 614px;
	margin-right: 10px;*/
}

#top-spacer {
	height: 20px;
}


::-webkit-input-placeholder {
  color: #ffcc80; }

:-moz-placeholder {
  /* Firefox 18- */
  color: #ffcc80; }

::-moz-placeholder {
  /* Firefox 19+ */
  color: #ffcc80; }

:-ms-input-placeholder {
  color: #ffcc80; }

 input[type=search]{
 	border-bottom: 1px solid #ffcc80;
 }

 input[type=search]:focus:not([readonly]){
 	border-bottom: 1px solid #fff;
 	box-shadow: none;
 }

@media only screen and (min-width : 993px) {
	nav a.button-collapse {
		display: initial;
	} 
}

@media only screen and (max-width : 600px) {
  	.logo-header {
  		padding-top: 6px;
  	}
}
