body {
	display: flex;
	min-height: 100vh;
	flex-direction: column;
}

main {
	flex: 1 0 auto;
}

footer.page-footer {
	margin: 0;
	padding: 0;
}

.logo-header {
	border: 0;
	padding-top: 10px;
	}

.grid-item { 
	width: 200px;
}

@media only screen and (min-width : 993px) {
	nav a.button-collapse {
		display: initial;
		} }

@media only screen and (max-width : 600px) {
  	.logo-header {
  		padding-top: 6px;
  	} }
