<div class="row">
    <div class="input-field col s12">
        <input value="{{ delivery_address.street_line1 }}" id="line_1" name="line_1" type="text" class="validate" required>
        <label for="line_1">Address Line 1</label>
    </div>
    <div class="input-field col s12">
        <input value="{{ delivery_address.street_line2 }}" id="line_2" name="line_2" type="text" class="validate">
        <label for="line_2">Address Line 2</label>
    </div>
</div>
<div class="row">
    <div class="input-field col s7">
        <input value="{{ delivery_address.city }}" id="city" name="city" type="text" class="validate" required>
        <label for="city">City</label>
    </div>
    <div class="input-field col s5">
        <input value="{{ delivery_address.county }}" id="county" name="county" type="text" class="validate" required>
        <label for="county">County</label>
    </div>
</div>
<div class="row">
    <div class="input-field col s12">
        <input value="{{ delivery_address.postcode }}" id="postcode" name="postcode" type="text" class="validate" required>
        <label for="postcode">Postcode</label>
    </div>
</div>