{% extends 'base.html' %}

{% load static from staticfiles %}

{% block body_block %}
          <table class="striped">
        <thead>
          <tr>
              <th data-field="id">Product</th>
              <th data-field="name"></th>
              <th data-field="price">Price</th>
              <th data-field="quantity">Quantity</th>
          </tr>
        </thead>

        <tbody>
          <tr>
            <td><img src="{%  static 'assets/Sky_logo_2014_small.png' %}"></td>
            <td>Sky Watch</td>
            <td>$50.00</td>
            <td>1</td>
          </tr>
         <tr>
            <td><img src="{%  static 'assets/Sky_logo_2014_small.png' %}"></td>
            <td>Sky Watch</td>
            <td>$50.00</td>
             <td>2</td>
          </tr>
         <tr>
            <td><img src="{%  static 'assets/Sky_logo_2014_small.png' %}"></td>
            <td>Sky Watch</td>
            <td>50.00</td>
             <td>3</td>
          </tr>
        </tbody>
      </table>



{% endblock %}