{% extends 'base.html' %}

{% load static from staticfiles %}

{% block body_block %}

{%if no_basket %}
Empty Basket

{%else%}


          <table class="striped">
        <thead>
          <tr>
              <th data-field="id">Product</th>
              <th data-field="name">Name</th>
              <th data-field="price">Price</th>
              <th data-field="quantity">Quantity</th>
          </tr>
        </thead>

        <tbody>
        {% for product in current_basket %}
        <br>
          <tr>
            <td><img src="{{product.image}}"></td>
            <td>{{product.name}}</td>
            <td>{{product.price}}</td>
            <td>{{product.quantity}}</td>
          </tr>
        {% endfor %}
        </tbody>
      </table>
<a href="/skystore/checkout/"class="btn z-depth-0">Checkout</a>

{% endif %}


{% endblock %}