{%  extends 'base.html' %}

{%  load static from staticfiles %}

{% block title %}Sky Accessories - Sign In{% endblock %}

{% block body_block %}


    <div class="login-form">

      <h5>Login</h5>

      <div id="errorLogin" class="red-text">{{ error }}</div>

      <form action="/skystore/loginuser/" method="POST"> {% csrf_token %}

        <div class="row">
          <div class="input-field col s12">
            <input id="email validate" autofocus name="username" placeholder="Username" type="text" required>
          </div>
        </div>

        <div class="row">
          <div class="input-field col s12">
            <input id="password validate" name="password" placeholder="Password" type="password" required>
          </div>
        </div>

        <button class="btn waves-effect waves-light z-depth-0" type="submit" name="action">Submit
          <i class="material-icons right">send</i>
        </button>

      </form>

    </div>

    <div class="login-form">

      <h5>New to Sky Accessories?</h5>
      <div class="row">
        <div class="input-field col s12">
          <p>Registering a new account allows you to keep track of orders and the ability to receive rewards.</p>
        </div>
      </div>

      <a href="/skystore/register/" id="reg" class="waves-effect waves-light btn z-depth-0">Sign up</a>

    </div>

{% endblock %}