{%  extends 'base.html' %}

{%  load static from staticfiles %}

{% block title %}Sky Accessories - Sign In{% endblock %}

{% block body_block %}

    <div class="login-form">

      <h5>Login</h5>

      <div class="row">
        <div class="input-field col s12">
          <input id="email" type="email">
          <label for="email">Email</label>
        </div>
      </div>

      <div class="row">
        <div class="input-field col s12">
          <input id="password" type="password">
          <label for="password">Password</label>
        </div>
      </div>

      <a class="waves-effect waves-light btn z-depth-0">Sign in</a>

    </div>

    <div class="login-form">

      <h5>New to Sky Accessories?</h5>

      <div class="row">
        <div class="input-field col s12">
          <p>Registering a new account allows you to keep track of orders and the ability to receive rewards.</p>
        </div>
      </div>

      <a href="/skystore/register/" id="reg" class="waves-effect waves-light btn z-depth-0">Sign up</a>

    </div>

{% endblock %}