{%  extends 'base.html' %}

{%  load static from staticfiles %}

{% block title %}Sky Accessories{% endblock %}

{% block body_block %}

    <div class="row">

      <div class="col s12">
        <h5>{{product.name}}</h5>
        <div class="divider"></div>
      </div>

    </div>

    <div class="row">

        <div class="col s4">
            <div class="card-panel z-depth-0">
                <img src="{{ product.product_image }}"/>
            </div>
        </div>
        <div class="col s8">

            <div class="card-panel z-depth-0">
                <span class="red-text">£{{ product.price }}</span>
                <p><a class="addbasket" method="POST" onclick="add_to_basket();" name={{product.id}} href="	#">Add to Basket</a></p>
                <p>stock: {{product.stock}}</p>
                Description:


                <p>{{ product.description }}</p>
            </div>
        </div>

    </div>

    <div class="row">

        <div class="col s12">
            <h5>Customer Reviews</h5>
            <div class="divider"></div>
            <div class="card-panel z-depth-0">
                Reviews
            </div>
        </div>
    </div>


{% endblock %}
