{%  load static from staticfiles %}

<div class="row">

    <div class="col s12">
    <h5>Latest Products</h5>
    <div class="divider"></div>
    <div id="top-spacer"></div>



    <div class="grid">
    {% for product in products%}


    <div class="grid-item">

        <div class="card z-depth-0">
            <div class="card-image">
                <a href=""><img src="/{{ product.product_image }}"></a>
            </div>
            <div class="card-content">
                <a href="/skystore/product/{{product.id}}"><span class="card-title teal-text text-lighten-1">{{product.name}}</span></a>
            </div>
            <div class="card-content">
                <span class="card-small teal-text text-darken-3">£{{product.price}}</span>
            </div>
            <div class="card-action">
                <a class="addbasket btn z-depth-0 white-text" method="POST" onclick="add_to_basket();" name={{product.id}} href="    #">Add to Basket</a>
            </div>
        </div>


    </div>


    {%endfor%}

</div>
    </div>
</div>

    </div>
