<!DOCTYPE html>

{%  load static from staticfiles %}

<html lang="en">
<head>
    <meta charset="UTF-8">
</head>
<body>

    {% include "header.html" %}

    <main class="blue-grey lighten-5">
		<div class="container">
            <div class="col s12 offset-m2 m8 offset-l3 l6">
                <div class="card-panel z-depth-0">
                    <div class="row center">
                        <div class="col s12"><h5>Registration</h5></div>
                        <div class="col s12 m4 l2"><p></p></div>
                        <div class="col s12 m4 l8"><p></p>
                            <form action="/myaccount/" method="POST">{% csrf_token %}
                                {{ customerform.as_p }}
                                {{ addressform.as_p }}
                                <input type="submit" value="Register">
                            </form>
                        </div>
                        <div class="col s12 m4 l2"><p></p></div>
                    </div>
                </div>
            </div>
        </div>
    </main>

    {% include "footer.html" %}

</body>
</html>