{% extends 'base.html' %}

{% load static from staticfiles %}

{% block body_block %}

{%if address_updated%}
<!--Display an alert here -->


{% endif %}

<div class="row">

    <div class="col s12">
        <h5>Review Order</h5>
        <div class="divider"></div>
    </div>
</div>



<table class="striped">
        <thead>
          <tr>
              <th data-field="id">Product</th>
              <th data-field="name">Name</th>
              <th data-field="price">Price</th>
              <th data-field="quantity">Quantity</th>
          </tr>
        </thead>

        <tbody>
        {% for product in order %}
        <br>
          <tr>
            <td><img src="{{product.image}}"></td>
            <td>{{product.name}}</td>
            <td>{{product.price}}</td>
            <td>{{product.quantity}}</td>
          </tr>
        {% endfor %}
        </tbody>
      </table>

  <form action="/skystore/successfulorder/" method="POST">{% csrf_token %}
  <script
    src="https://checkout.stripe.com/checkout.js" class="stripe-button"
    data-key="pk_test_6pRNASCoBOKtIshFeQd4XMUh"
    data-image="{%  static 'assets/Sky_logo-2.png' %}"
    data-name="Sky Accessories"
    data-description=""
    data-amount="{{price}}"
          data-currency="GBP">
  </script>
</form>



{% endblock %}