{%  extends 'base.html' %}

{%  load static from staticfiles %}

{% block title %}Sky Accessories{% endblock %}

{% block body_block %}

	<p class="red-text">{{noproducts}}</p>

	
	<div class="grid">

				{% for product in products%}


		<div class="grid-item">

			<div class="card z-depth-0">
				<div class="card-image">
					<a href=""><img src="images/sample-1.jpg"></a>
				</div>
				<div class="card-content">
					<a href="/skystore/product/{{product.id}}"><span class="card-title teal-text text-lighten-1">{{product.name}}</span></a>
				</div>
				<div class="card-action">
					<a href="#">Add to Basket</a>
				</div>
			</div>

			
		</div>


			{%endfor%}	


	

	</div>

	

{% endblock %}
