<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>Sky</title>

	<!-- CSS -->
	<link rel="stylesheet" href="css/materialize.css">
	<link rel="stylesheet" href="css/style.css">

	<!-- Google Icons -->
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	
</head>
<body>

	<!-- Header/NavBar -->
	<header>
		<div class="navbar-fixed">
			<nav class="z-depth-0 grey" role="navigation">
				<div class="nav-wrapper container">
					<a href="#!" class="brand-logo center">Sky</a>
					<a href="#" data-activates="side-menu" class="button-collapse"><i class="material-icons prefix">menu</i></a>
					<a href="#" data-activates="side-menu" class="button-collapse">Menu</a>
					<ul class="right hide-on-med-and-down">
						<li><a href="#"><i class="material-icons">search</i></a></li>
						<li><a href="#"><i class="material-icons">perm_identity</i></a></li>
						<li><a href="#"><i class="material-icons">shopping_cart</i></a></li>
					</ul>
					<ul class="side-nav" id="side-menu">
						<li><a href="#">Search</a></li>
						<li><a href="#">Account</a></li>
						<li><a href="#">Basket</a></li>
						<li><a href="#">Categories</a></li>
					</ul>
				</div>
			</nav>
		</div>
	</header>

	<!-- Content -->

	<main>
		<div class="container">

			<!-- <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec et turpis sed eros elementum congue id ac sapien. Ut iaculis bibendum magna, quis ullamcorper dolor molestie vel. Maecenas convallis nisi magna, fringilla cursus diam molestie pretium. Proin semper mi ut mattis vestibulum. Quisque diam lectus, eleifend et mauris eget, faucibus ullamcorper lorem. Duis eget facilisis sapien. Pellentesque lobortis euismod blandit. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Quisque volutpat varius libero et tempor. Maecenas pretium odio justo, vitae iaculis massa mollis at. Sed imperdiet dolor eu elit tristique ultricies.

				Mauris enim nunc, ullamcorper vitae purus at, semper consectetur magna. Morbi placerat erat id libero tincidunt, et ornare erat aliquam. Aliquam purus orci, molestie sagittis metus eget, sodales porttitor diam. Nunc diam tellus, euismod vitae magna quis, dapibus dictum sem. Sed augue elit, bibendum et mollis non, cursus at nisl. Sed at est aliquam, fermentum tellus sit amet, aliquet ex. Mauris rhoncus ullamcorper magna eget rhoncus. Suspendisse non blandit libero. Quisque efficitur at tellus vel cursus. Nulla sed finibus enim, elementum porta augue. Aenean non ornare diam.

				Etiam nulla felis, accumsan bibendum odio id, molestie hendrerit purus. Nulla imperdiet nisl id laoreet bibendum. Nam sed pharetra massa, vel lacinia dui. Pellentesque eget pharetra elit. Aliquam erat volutpat. Nunc odio eros, condimentum nec quam nec, euismod porttitor ipsum. Donec at diam nec ipsum dapibus feugiat. Nam venenatis lectus erat, sed fermentum libero maximus eget. Maecenas venenatis, tortor ac malesuada suscipit, nulla tellus hendrerit tellus, a bibendum lorem odio id lacus. Aenean semper ac arcu aliquam ullamcorper. Aliquam massa dolor, porttitor sit amet venenatis ac, fermentum id mauris. Proin dui purus, feugiat eu tempor sit amet, faucibus vel neque.

				Proin vel varius odio, sit amet accumsan libero. Nulla dapibus condimentum nibh at cursus. Duis id mi nec libero aliquet finibus vitae ac ante. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris lobortis gravida tellus at hendrerit. Integer sed sapien ante. Nunc sodales ante risus, ac bibendum dui convallis vitae. Nunc dignissim faucibus bibendum. Etiam pretium velit id mi malesuada, elementum convallis mi tristique. Nulla eget metus sed odio feugiat tincidunt nec sed ligula. Suspendisse eget libero non risus dignissim lobortis nec at justo.

				Donec et consectetur ante. Aliquam non metus nisl. Praesent convallis dolor justo, at eleifend nibh rutrum eu. Quisque ac libero vel sem suscipit congue quis vel eros. Nam efficitur pharetra leo, eget cursus diam tempus non. Sed vitae laoreet ligula. Nullam et diam viverra, semper erat in, congue libero. Duis lacus lacus, ultricies sagittis semper efficitur, accumsan eget magna. Integer id dapibus magna, et aliquam dolor. Etiam varius purus neque, a consectetur orci gravida sit amet. Nunc quis neque tellus. In dictum justo eu semper venenatis. Curabitur aliquet quam maximus, fringilla nunc id, laoreet quam. Pellentesque eu sem quis odio accumsan suscipit. Aliquam id tortor vitae dui pellentesque lobortis at sed massa.</p>

				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec et turpis sed eros elementum congue id ac sapien. Ut iaculis bibendum magna, quis ullamcorper dolor molestie vel. Maecenas convallis nisi magna, fringilla cursus diam molestie pretium. Proin semper mi ut mattis vestibulum. Quisque diam lectus, eleifend et mauris eget, faucibus ullamcorper lorem. Duis eget facilisis sapien. Pellentesque lobortis euismod blandit. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Quisque volutpat varius libero et tempor. Maecenas pretium odio justo, vitae iaculis massa mollis at. Sed imperdiet dolor eu elit tristique ultricies.

					Mauris enim nunc, ullamcorper vitae purus at, semper consectetur magna. Morbi placerat erat id libero tincidunt, et ornare erat aliquam. Aliquam purus orci, molestie sagittis metus eget, sodales porttitor diam. Nunc diam tellus, euismod vitae magna quis, dapibus dictum sem. Sed augue elit, bibendum et mollis non, cursus at nisl. Sed at est aliquam, fermentum tellus sit amet, aliquet ex. Mauris rhoncus ullamcorper magna eget rhoncus. Suspendisse non blandit libero. Quisque efficitur at tellus vel cursus. Nulla sed finibus enim, elementum porta augue. Aenean non ornare diam.

					Etiam nulla felis, accumsan bibendum odio id, molestie hendrerit purus. Nulla imperdiet nisl id laoreet bibendum. Nam sed pharetra massa, vel lacinia dui. Pellentesque eget pharetra elit. Aliquam erat volutpat. Nunc odio eros, condimentum nec quam nec, euismod porttitor ipsum. Donec at diam nec ipsum dapibus feugiat. Nam venenatis lectus erat, sed fermentum libero maximus eget. Maecenas venenatis, tortor ac malesuada suscipit, nulla tellus hendrerit tellus, a bibendum lorem odio id lacus. Aenean semper ac arcu aliquam ullamcorper. Aliquam massa dolor, porttitor sit amet venenatis ac, fermentum id mauris. Proin dui purus, feugiat eu tempor sit amet, faucibus vel neque.

					Proin vel varius odio, sit amet accumsan libero. Nulla dapibus condimentum nibh at cursus. Duis id mi nec libero aliquet finibus vitae ac ante. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris lobortis gravida tellus at hendrerit. Integer sed sapien ante. Nunc sodales ante risus, ac bibendum dui convallis vitae. Nunc dignissim faucibus bibendum. Etiam pretium velit id mi malesuada, elementum convallis mi tristique. Nulla eget metus sed odio feugiat tincidunt nec sed ligula. Suspendisse eget libero non risus dignissim lobortis nec at justo.

					Donec et consectetur ante. Aliquam non metus nisl. Praesent convallis dolor justo, at eleifend nibh rutrum eu. Quisque ac libero vel sem suscipit congue quis vel eros. Nam efficitur pharetra leo, eget cursus diam tempus non. Sed vitae laoreet ligula. Nullam et diam viverra, semper erat in, congue libero. Duis lacus lacus, ultricies sagittis semper efficitur, accumsan eget magna. Integer id dapibus magna, et aliquam dolor. Etiam varius purus neque, a consectetur orci gravida sit amet. Nunc quis neque tellus. In dictum justo eu semper venenatis. Curabitur aliquet quam maximus, fringilla nunc id, laoreet quam. Pellentesque eu sem quis odio accumsan suscipit. Aliquam id tortor vitae dui pellentesque lobortis at sed massa.</p> -->
				</div>
			</main>

			<!-- Footer -->

			<footer class="page-footer">
				<div class="footer-copyright">
					<div class="container">
						© 2015 Sky UK
						<a class="grey-text text-lighten-4 right" href="#!">Terms & Conditions</a>
					</div>
				</div>
			</footer>


			<!-- JavaScript/jQuery -->

			<script src="js/jquery-2.1.4.js"></script>
			<script src="js/materialize.js"></script>

			<script type="text/javascript">
				$( document ).ready(function(){
					$(".button-collapse").sideNav();
				})
			</script>

		</body>
		</html>